.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 300px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  text-align: center; 
  margin: 0 auto; 
}

h2 {
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-field {
  width: 90%;
  padding: 8px;
  background-color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}

.login-button {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password {
  text-align: center;
}